html {
      box-sizing: border-box;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
}
body{
	margin: 0;
}
.main{
	display: flex;
	min-height: 35vh;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
	flex: 1;
  background:silver;
}
.main2{
	display: flex;
	min-height: 15vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
	flex: 1;
  background:silver;
}
.name{
	flex: 2;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.editprofile{
	display: flex;
	flex-direction: row;
	flex: 2.5;
	align-items: center;
	justify-content: center;
}
.symbol{
	display: flex;
	flex: 0.5;
	min-height: 5vh;
	align-items: center;
	justify-content: center;
}
.image2{
	/* display: flex;
	flex: 0.5; */
	width: 36px;
	height: 36px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10%;
}
.edit{
	display: flex;
	flex: 3;
	min-height: 5vh;
	font-size: 30px;
	background-color: white;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.image1{
	/* display: flex;
	flex: 1; */
	border-radius: 100%;
}
.submain1{
	display: flex;
	flex: 2;
  align-items: center;
  justify-content: center;
}
.submain2{
	display: flex;
	flex-direction: column;
	flex: 1;
}
.up{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: flex-start;
}
.down{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: flex-end;
	font-size: 30px;
	font-weight: bold;
}
